<!--<h1>{{ title }}</h1>--> <!--interpolacion ->trae los valores del componet a la plantilla -->
<!--<hr>-->
<!-- <h2>Bienvenidos a Angular</h2> -->
<!-- <h3>Counter: {{ counter }}</h3>-->

<!--<button (click)="increaseBy()">+1</button>--><!--forma sin el value-->
<!--<button (click)="decreaseBy()">-1</button>-->
<!--<button (click)="increaseBy(1)">+1</button>--> <!--dentro del increaseBy ingresamos la cantidad-->
<!--<button (click)="ResetCounter(10)">Reset</button>-->
<!--<button (click)="decreaseBy(1)">-1</button>-->

<!--<hr> -->

<!--una vez importado el componente en el modulo de elimina el error, ver app.module.ts y counter.component.ts-->
<!--<app-counter></app-counter>--> <!--puedo llamar un componente cuantas veces sea y funcionara individualmente con toda su implementación-->
<!-- <app-heroes-hero></app-heroes-hero>

<app-heroes-list></app-heroes-list> -->

<app-dbz-main-page></app-dbz-main-page>
